:root {
  --font-korea-primary: "suit", sans-serif;
  --font-korea-secondary: "pretendard", sans-serif;
  --font-korea-third: "Noto Sans KR", sans-serif;
  --font-en-primary: "Inter", sans-serif;
  --font-family: "Roboto", sans-serif;

  --primary-color: #ff5252;
  --light-gray: #f5f0f0;
  --black: #111;
  --white: white;
  --dark-black: #000;
  --gray: #e5e5e5;
  --mid-gray: #777;
  --yellow: #f2b600;
  --light-mid-gray: #888;
  --transparent-gray: rgba(173, 178, 179, 0.7);
  --very-light-gray: #f5f5f5f7;
  --pure-white: #ffffff;
  --dark-gray: #666;
  --white-alt: #fff;
}
